################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Galcorp.Blazor.GoogleButton/.vs/Galcorp.Blazor.GoogleButton/v16/Server/sqlite3
