@using Microsoft.AspNetCore.Components.Web
@using Galcorp.Blazor.GoogleButton
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject GButtonService ProfileService

@if (IsSignedIn)
{

    <button @onclick="OnSignoutClick">
        <img src="@UserProfile.ImageURL" height="24" />
        Signout (@UserProfile.FullName)
    </button>

}
else
{
    <button @onclick="OnLoginClick">
        <img src="_content/Galcorp.Blazor.GoogleButton/img/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png" />
    </button>
}


@code {

    public bool IsSignedIn { get; set; }
    public User UserProfile { get; set; }


    public async void OnLoginClick()
    {
        await JSRuntime.InvokeVoidAsync("glogin.askGoogleForLogin");
    }

    public async void OnSignoutClick()
    {
        await JSRuntime.InvokeVoidAsync("glogin.askGoogleForSignout");
    }

    protected override void OnInitialized()
    {
        IsSignedIn = false;
        UserProfile = new User();

        IsSignedIn = false;
        ProfileService.OnSignInChanged += ProfileService_OnSignInChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        IsSignedIn = await ProfileService.IsSignedInAsync();

        await base.OnAfterRenderAsync(firstRender);
    }


    private void ProfileService_OnSignInChanged(bool state)
    {
        this.IsSignedIn = state;
        this.UserProfile = ProfileService.Profile;

        InvokeAsync(StateHasChanged);
    }
}
